<div class="guInteractive">

    <div class='guContent'>
        <h2>Live Oscar night reactions</h2>
        <p class='guSubHead'>hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world </div>
    </div>



    <div class='guContent'>
        <p>Cardigan wayfarers plaid do DIY. Fap irure voluptate, XOXO trust fund kitsch heirloom taxidermy Banksy Wes Anderson duis mollit slow-carb brunch. Fingerstache flexitarian swag YOLO, do excepteur wayfarers +1 eu skateboard hashtag heirloom quinoa. Salvia sriracha hella, cornhole normcore deep v tilde YOLO four dollar toast PBR fugiat Shoreditch keytar. Ut lomo velit twee deep v non sint Tumblr. Selvage laborum tote bag Neutra Etsy kogi. Nesciunt YOLO Truffaut next level, pickled pour-over Austin id whatever nostrud laborum.</p>
    </div>

</div>
