.guOscarsHeader {
	background: #464646;

	padding-bottom: 50px;
	margin-bottom: 50px;
	overflow: hidden;

	//web styles
	h1.content__headline {
		color: #ffce4b;
		padding-bottom: 0;
		margin-bottom: 30px;
		padding-right: 10px;
	}

	.guOscarStatue{
		position: absolute;
		width: 250px;
		height: 250px;
		bottom: 0;
		right: -75px;
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: contain;

		background-image: url(../imgs/oscarbg.svg)

	}

	p {
		color: #efefec;
	}

	.content__section-label a, .content__section-label a:visited {
		color: #efefec;
		border-bottom: none;
	}


	//app styles
	.section {
		color: #dcdcdc;
	}

	.headline {
		color: #ffce4b;
	}

	.standfirst {
		color: #efefec;
	}


}

.guOscarsContent, .meta {
	background: #f1f1f1;
}

@media (min-width: 420px){
	.guOscarsHeader {
		.guOscarStatue{
			position: absolute;
			width: 325px;
			height: 250px;
			bottom: 0;
			right: -150px;
			display: none;
		}
	}
}

@media (min-width: 740px){
	
	.guOscarsHeader {
		h1.content__headline {
			font-size: 48px;
			line-height: 1;
			padding-right: 120px;
		}
		.guOscarStatue{
			position: absolute;
			width: 325px;
			height: 250px;
			bottom: 0;
			right: -150px;
			display: block;
		}
	}
} 

@media (min-width: 980px){
	
	.guOscarsHeader {
		h1.content__headline {
			font-size: 60px;
			line-height: 1;
			padding-right: 240px;
		}

		.guOscarStatue {
			width: 450px;
		}
	}
} 